@import 'assets/fonts/fonts.css';

* {
    padding: 0;
    margin: 0;
}


html {
    height: 100%;
}

body {
    min-width: 1020px;
    font-size: 10px;
    font-family: "Lato", sans-serif;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.wrapper {
    width: 940px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}

.portfolio {
    background-color: #2d303a;
    padding-top: 68px;
    padding-bottom: 46px;
    border-bottom: 6px solid #767e9e;
}

.portfolio-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 33px;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 22px;
    margin-bottom: 19px;
}

.filter-tags {
    display: flex;
}

.filter-tags__tag {
    outline: 0;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    color:#767e9e;
    font-size: 12px;
    padding: 3px 5.43px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.filter-tags__tag:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease-out;
}

.active {
    color: #fff;
    border-color: #fff;
}

.tag:last-child {
    margin-right: 0;
}

.portfolio-list-wrapper {
    margin-top: 19px;
    max-height: 621px;
    overflow: hidden;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 67px;
    padding-bottom: 67px;

}

.about-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 33px;
}

.about-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    margin-bottom: 19px;
}

.about__person-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about__person-list-item {
    width: 300px;
    
}

.person-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.about__person-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 17px;

}

.about__person-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 16px;

}

.social-block {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
}

.social-image {
    height: 32px;
    width: 32px;
}