@import './assets/fonts/fonts.css';

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-width: 1020px;
    font-size: 10px;
    position: relative;    
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a.anchor {
    position: absolute;
    top: -52px;
}

.wrapper {
    width: 940px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}

.header__mobile-menu-overlay {
    display: none;
}

.burger-default-container {
    display: none;
}

.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    z-index: 100000;
    width: 100%;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .header-title{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.48px;
    
}

.logo .header-title::after {
    content: "*";
    color: #bc5c59;
    font-size: 25px;
}   


.header__navigation {
    padding-top: 11px;
}

.header__navigation ul{
    display: flex;
}

.header__navigation .nav-item {
    margin-left: 28.5px;
    display: inline-block;
    position: relative;
}

.header__navigation .nav-item:not(:last-child)::after {
    content: ".";
    display: block;
    color: #494e62;
    position: absolute;
    right: -15px;
    top: -8px;
}

.nav-item a {
    display: block;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.5s ease-out; 
}

.nav-item a:hover, .active {
    color: #f06c64;
    transition: color 0.5s ease-out;
}

a.active {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    padding-top: 142.02px;
    padding-bottom: 27px;
    border-bottom: 6px solid #ea666b;
    transition: 0.5s ease-in-out;
}

.slider .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    position: relative;
    height: 513px;
}
.slider__slide-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 800px;
    overflow: hidden;
    height: 513px;
    bottom: 3%;
}

.arrow {
    position: relative;
    top: -3%;
}

.slider__slide-img-container {
    position: relative;
    display: flex;
    width: 100%;
    
    

}

.slide {
    display: flex;
    min-width: 100%;
    position: absolute;
    z-index: 200;
    height: 100%;
}

.slide-1 {
    align-items: center;
    justify-content: space-between;
    background-color: #f06c64;
}

.slide-2 {
    background-color: #648BF0;
}

.slide-2 .slider__slide-img-container{
    align-items: center;
    justify-content: center;
    
}

.slide-active {
   z-index: 1000;
}

.slideToLeft {
    animation-name: toLeft;
    z-index: 1000;
  }
  
.slideToRight {
    animation-name: toRight;
    z-index: 1000;
}

.slideOutLeft {
    transform: translateX(-100%);
}

.slideOutRight {
    transform: translateX(100%);
}

@keyframes toLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
}
  
@keyframes toRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.left-phone {
    background-image: url('./assets/img/vertical-phone.png');
    background-repeat: no-repeat;
    height: 483px;
    width: 241px;
    
}

.right-phone {
    background-image: url('./assets/img/horizontal-phone.png');
    background-repeat: no-repeat;
    width: 484px;
    height: 240px;
}

.slider__phone-display-image {
    position: absolute;
    

}

.slider__phone-display-image.left {
    top: 65px;
    left: 16px;
    visibility: visible;
}

.slider__phone-display-image.right {
    left: 60px;
    top: 13px;
    visibility: visible;
}

.slider__left-arrow {
    background: url('./assets/img/l_arrow.png') no-repeat;
    height: 27px;
    width: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: initial;
    transition: background-color 0.5s ease-out;

}

.slider__right-arrow {
    background: url('./assets/img/r_arrow.png') no-repeat;
    height: 27px;
    width: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: initial;
    transition: background-color 0.5s ease-out;
}

.slider__right-arrow:hover, .slider__left-arrow:hover {
    opacity: 0.75;
    transition: opacity 0.5s ease-out;
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 62px;
    padding-bottom: 16px;
    position: relative;
}

.services h2 {
    font-size: 3em;
    line-height: 30px;
    color: #666d89;
    padding-bottom: 21px;
    font-weight: 900;
}

.services .services__description {
    font-size: 1.8em;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}


.services__layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-bottom: 17px;
    
}

.services__item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    max-height: 97px;
}

.services__item-description {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 71px;
    max-width: 219px;
    word-break: break-word;
    
}

.services__item-content {
    position: relative;
    display: inline-block;
    
    
}

.services__header-item {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #666d89;
    font-weight: 900;
}


.services-item-img {
    padding-right: 21px;
    padding-top: 6px;
}

.portfolio {
    background-color: #2d303a;
    padding-top: 71px;
    padding-bottom: 48px;
    border-bottom: 6px solid #767e9e;
    position: relative;
}

.portfolio-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 31px;
    margin-top: -2px;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 16px;
    margin-bottom: 19px;
}

.filter-tags {
    display: flex;
}

.filter-tags__tag {
    outline: 0;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    color:#767e9e;
    font-size: 12px;
    padding: 1px 6px;
    cursor: pointer;
    line-height: 18px;
    transition: 0.5s ease-out;
}

.filter-tags__tag:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease-out;
}

.active-tag {
    color: #fff;
    border-color: #fff;
}

.tag:last-child {
    margin-right: 0;
}

.portfolio-list-wrapper {
    margin-top: 19px;
    max-height: 621px;
    overflow: hidden;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.img-border {
    outline: 5px solid #F06C64;
}

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 69px;
    padding-bottom: 67px;
    position: relative;

}


.about-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 26px;
}

.about-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: justify;
}

.about__person-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about__person-list-item {
    width: 300px;
}

.about__person-list-item:first-child .social-block{
    margin-left: 1px;
}

.person-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.about__person-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 15px;
    letter-spacing: -0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 18px;

}

.about__person-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 23px;
    text-align: justify;

}

.social-block {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
}
.social-block a {
    height: 32px;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.social-block a:hover {
    background-color: #fff;
    transition: 0.5s ease-out;
}

.social-image {
    height: 32px;
    width: 32px;
}

.quote {
    background-color: #f06c64;
    padding-top: 57.5px;
    padding-bottom: 14px;
    border-bottom: 6px solid #ea676b;
    position: relative;
}

.quote__quote-title {
    font-size: 30px;
    color: #f0d8d9;
    margin-bottom: 19px;
    font-weight: 900;
}

.quote__quote-description {
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.quote__quote-content {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quote__quote-form {
    width: 605px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-el {
    padding-left: 14px;
    width: 100%;
    height: 38px;
    background-color: #d6564f;
    outline: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    transition: .5s ease-out;
}

.text-field {
    padding-top: 0.5px;
}

.name-field:valid:focus, .email-field:valid:focus {
    background-color: #fff;
    border-color: 1px solid #000;
}

.name-field:invalid:focus, .email-field:invalid:focus {
    background-color: #000;
    color: #fff;
}

.form-el:hover {
    background-color: #b73d36;
    transition: .5s ease-out;
}

.form-el::placeholder {
    color: #f48c8f;
}

.form-el.textarea-block {
    height: 194px;
    resize: none;
    padding-top: 7px;
}

.submit-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #886A30;
    width: 136px;
    text-align: center;
    padding: 10.5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #FBC65F;
    
    font-weight: bold;
    transition: .5s ease-out;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #e8a82c;
    transition: .5s ease-out;
}




.quote__contact-information {
    display: flex;
    flex-direction: column;
    width: 301px;
    position: relative;
}

.contact-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin-bottom: 10px;
}

.contact-description {
    font-size: 12px;
    line-height: 22.5px;
    font-weight: 400;
    color: #f0d8d9;
    margin-bottom: 25px;
    text-align: justify;
}

.contact-el {
    margin-bottom: 7px;
    color: #f0d8d9;
    font-size: 12px;
    font-weight: 400;
    padding-left: 24px;
}

.contact-el::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    left: 0;
}

.contact-el.location::before {
    background-image: url('assets/img/icon-location.svg');
    background-size: 7px;
    background-position: 4px 2.3px;
}

.contact-el.tel::before {
    background-image: url('assets/img/icon-phone.svg');
    background-size: 11px;
    background-position: 2px 2px;
}

.contact-el.email {
    margin: 0;
}

.contact-el.email::before {
    background-image: url('assets/img/icon-mail.svg');
    background-size: 14px;
    background-position: 0px 5px;
    margin-top: -2px;
}

.modal-background {
    display: flex;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.modal {
    width: 25%;
    height: auto;
    min-height: 150px;
    background-color: #f55e4d;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    
}

.modal__modal-title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 4%;
}

.theme, .description {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #fff;
    word-wrap: break-word;
}

.ok {
    outline: none;
    width: 80px;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #efdd0b;
    margin-top: 15px;
    transition: 0.5s ease-in-out;
}

.ok:hover {
    background-color: #efdd0b85;
    transition: 0.5s ease-in-out;
}


.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #666d89;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 1px;
}

.social-list-block {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 152px;
}

.social-link {
    border: 1px solid #616883;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.social-link:hover {
    border-color: #fff;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    
    body {
        min-width: 768px;
    }

    .wrapper {
        width: 688px;
        padding: 0 40px;
    }

    .header__navigation {
        padding-top: 6px;
    }

    .header__navigation .nav-item {
        margin-left: 30.5px;
        letter-spacing: -0.09px;
    }

    .slider {
        padding-top: 94px;
        padding-bottom: 0;
        border-bottom: 4.55px solid #EA676B;
    }

    .slider .wrapper {
        height: 450.46px;
        width: 711.72px;
        padding: 0 20px;
    }



    .slider__slide-container {
        width: 599.34px;
        height: 388.07px;
        left: -9px;
        top: 10px;
    }

    .left-phone {
        height: 388.07px;
        width: 180.71px;
        background: url('./assets/img/vertical-phone-pad.png');
    }

    .slider__phone-display-image.left {
        width: 141px;
        height: 251px;
        top: 50px;
        left: 12px;
    }

    .right-phone {
        height: 200.63px;
        width: 363.67px;
        background: url('./assets/img/horizontal-phone-pad.png') no-repeat;
    }

    .slider__phone-display-image.right {
        width: 251px;
        height: 142px;
        left: 45px;
        top: 11px;
    }

    .slide2-img {
        height: 388.07px;
    } 
    .arrow {
        width: 16px;
        top: 4px;
    }
    .slider__left-arrow.arrow {
        left: -7px;
    }

    .slider__right-arrow.arrow {
        right: 7px;
    }


    .services {
        padding-top: 40px;
        border: none;
        padding-bottom: 9px;
    }

    .services .wrapper {
        position: relative;
    }

    .services__layout-3-column {
        width: 654px;
        padding-top: 32px;
    }

    .services__item{
        position: relative;
        margin-top: -1px;
        padding-bottom: 48px;
    }

    .services-item-img {
        padding-top: 4.5px;
        position: relative;
        
    }

    .portfolio {
        padding-top: 69px;
        padding-bottom: 67px;
    }

    .portfolio .wrapper {
        width: 695px;
        padding: 0 32px 0 41px;
    }

    .portfolio-title {
        letter-spacing: -0.95px;
        margin-bottom: 27px;
    }

    .portfolio-description {
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 1px;
        
    }

    .portfolio-list-wrapper {
        max-height: 794px;
        margin-top: 27px;
        width: 688.851px;
        position: relative;
        right: 2px;
    }

    .portfolio-list {
        position: relative;
       
    }


    .portfolio-list-item {
        width: 216.19px;
        height: 183.76px;
    }

    .portfolio-img {
        width: 216.19px;
        height: 183.76px;
        
    }

   

    .about {
        padding-top: 63px;
    }
    
    .about-description {
        margin-bottom: 39px;
    }

    .staff {
        position: relative;
        right: -2px;
    }
    .about__person-list-item {
        width: 219px;
        height: 360px;
    }

    .person-image {
        width: 218.94px;
        height: 218.94px;
        position: relative;
    }

    .about__person-list-item:nth-child(2) .person-image {
        right: 1px;
    }

    .about__person-list-item:nth-child(3) .person-image {
        right: 2px;
    }

    .about__person-name {
        padding-top: 10px;
        letter-spacing: 0;
        max-height: 18px;
        text-overflow: ellipsis;
        
        
    }

    .about__person-description {
        line-height: 23px;
        margin-bottom: 9px;
        margin-top: 0;
    }

    .about .social-block {
        position: relative;
        right: 2px;
    }



    .quote {
        padding-top: 51.5px;
        padding-bottom: 39px;
    }

    .quote .wrapper {
        width: 689px;
        padding: 0 37px 0 42px;
    }

    
    .quote__quote-content {
        margin-top: 24px;
    }

    .quote__quote-form {
        width: 433px;
        position: relative;
        right: 4px;
    }

    .text-field {
        width: 433px;
        height: 38px;
        border-radius: 5px;
        padding-top: 0;
        padding-top: 1px;
    }

    .text-field::placeholder {
        font-size: 12px;
        
    }

    .form-el {
        margin-bottom: 12px;
        padding-left: 9px;
        
    }

    .form-el.textarea-block {
        border-radius: 5px;
        height: 153px;
        padding-top: 3px;
        margin-bottom: 18px;
    }

    .contact-title {
        line-height: 21px;
        margin-bottom: 1px;
    }

    .contact-description {
        margin-bottom: 12px;
    }

    .contact-el {
        padding-left: 22px;
    }
    .contact-el::before {
        left: -2px;
    }

    .quote__contact-information {
        width: 221px;
    }

    .footer .wrapper{
        justify-content: center;
    }

    .copyright {
        display: none;
    }


}

@media screen and (max-width: 375px) {

    body {
        min-width: 375px;
    }

    

    .wrapper {
        width: 325px; 
        padding: 0 20.5px;
    }

    .header .wrapper {
        
        position: relative;
        width: 240px; 
        padding: 0 20px;
        margin: 0;
    }

    .logo {
        justify-self: center;
    }

    .logo .header-title {
        justify-self: center;
    }

    .header__navigation {
        display: none;
    }

    .burger-default-container {
        display: block;
        justify-self: left;
    }

    .slider {
        width: 100%;
        padding-top: 105px;
        padding-bottom: 30px;
    }

    .slider .wrapper {
        width: 353.71px;
        padding-left: 10.71px;
        padding-right: 10.59px;
        margin: 0 auto;
        height: auto;
    }

    .slider__slide-container {
        width: 292.65px;
        height: 189.49px;
        left: 0;
    }


    .left-phone {
        width: 88.24px;
        height: 189.49px;
        background: url('./assets/img/vertical-phone-mobile.png') no-repeat;
    }

    .slider__phone-display-image.left {
        width: 69px;
        height: 123px;
        top: 25px;
        left: 6px;
    }

    .right-phone {
        height: 97.96px;
        width: 177.57px;
        background: url('./assets/img/horizontal-phone-mobile.png') no-repeat;

    }

    .slider__phone-display-image.right {
        width: 123px;
        height: 69px;
        left: 22px;
        top: 5px;
    }

    .slide2-img {
        height: 189.49px;
    }

    .arrow {
        width: 14px;
        height: 24.77px;
        background-size: 100% 100%;
    }

    .slider__left-arrow.arrow {
        left: 0;
    }

    .slider__right-arrow.arrow {
        right: 0;
    }




    .services__layout-3-column {
        width: 100%;
    }

    .services__item {
        padding-bottom: 15px;
    }

    .portfolio {
        padding-bottom: 20px;
    }

    .portfolio .wrapper {
        width: 314px;
        padding: 0 20px;
    }

    .portfolio-list-wrapper {
        width: 100%;
        justify-content: space-around;
    }

    .portfolio-list-item {
        width: 151px;
        height: 128px;
        margin-bottom: 14px;
    }
    

    .portfolio-img {
        width: 100%;
        height: 100%;
    }

    .portfolio-list-wrapper {
        max-height: 565px;
        overflow: hidden !important;
        
    }

    .about {
        padding-bottom: 0;
    }

    .about__person-list {
        justify-content: center;
    }


    .about__person-list-item {
        width: 314px;
        height: 440px;
        margin-bottom: 34px;
    }
    

    .about__person-description {
        margin-top: 5px;
    }

    .person-image {
        width: 314px;
        height: 314px;
    }

    .quote .wrapper {
        width: 325px; 
        padding: 0 20.5px;
    }


    .quote__quote-form {
        width: 100%;
    }

    .text-field {
        width: 100%;
    }

    .quote__contact-information {
        width: 100%;
        margin-top: 34px;
    }

    .modal {
        width: 75%;
    }


    .mobile__mobile-menu-overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 100%;
        background-color:rgba(45,48,58,0.6);
        
        transition: 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        z-index: 1000000;
    }

    .mobile-menu {
        height: 100%;
        width: 70%;
        position: relative;
        background-color: #2D303A;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        padding-top: 20px;
        
    }

    .mobile-menu-header {
        width: 74.135%;
        display: flex;
        justify-content: space-between;
        padding-left: 22.5px;
    }

    .burger-container {
        
        height: 25px;
        transform: rotate(90deg);
        margin: 0;
    }

    .burger-menu-icon {
        
        height: 25px;
    }

    .mobile-menu-list {
        
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 135px;
        left: 75px;
    }

    
    

    .mobile-menu .nav-item a{
        font-size: 24px;
        letter-spacing: -0.035em;
        font-weight: bold;
        line-height: 50px;
    }




}
