@import './assets/fonts/fonts.css';

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}


html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-width: 1020px;
    font-size: 10px;
    
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 940px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo .header-title{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.48px;
    
}


.logo .star {
    color: #bc5c59;
}

.header__navigation {
    padding-top: 11px;
}

.header__navigation ul{
    display: flex;
}

.header__navigation .nav-item {
    margin-left: 28.5px;
    display: inline-block;
    position: relative;
}

.header__navigation .nav-item:not(:last-child)::after {
    content: ".";
    display: block;
    color: #494e62;
    position: absolute;
    right: -15px;
    top: -8px;
}

.nav-item a {
    display: block;
    font-size: 12px;
    line-height: 6px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.5s ease-out; 
}

.nav-item a:hover, .active {
    color: #f06c64;
    transition: color 0.5s ease-out;
}

a.active {
    color: #f06c64;
}

.slider {
    background-color: #f06c64;
    padding-top: 47.02px;
    padding-bottom: 57px;
    border-bottom: 6px solid #ea666b;
}

.slider .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
}
.slider__slide-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 800px;
}

.slider__slide-img-container {
    position: relative;

}

.left-phone {
    background-image: url('./assets/img/vertical-phone.png');
    background-repeat: no-repeat;
    height: 483px;
    width: 241px;
    
}

.right-phone {
    background-image: url('./assets/img/horizontal-phone.png');
    background-repeat: no-repeat;
    width: 484px;
    height: 240px;
}

.slider__phone-display-image {
    position: absolute;

}

.slider__phone-display-image.left {
    top: 65px;
    left: 16px;
}

.slider__phone-display-image.right {
    left: 60px;
    top: 13px;
}

.slider__left-arrow {
    background: url('./assets/img/l_arrow.png') no-repeat;
    height: 27px;
    width: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: initial;
    transition: background-color 0.5s ease-out;

}

.slider__right-arrow {
    background: url('./assets/img/r_arrow.png') no-repeat;
    height: 27px;
    width: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: initial;
    transition: background-color 0.5s ease-out;
}

.slider__right-arrow:hover, .slider__left-arrow:hover {
    opacity: 0.75;
    transition: opacity 0.5s ease-out;
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 62px;
    padding-bottom: 16px;
}

.services h2 {
    font-size: 3em;
    line-height: 30px;
    color: #666d89;
    padding-bottom: 21px;
    font-weight: 900;
}

.services .services__description {
    font-size: 1.8em;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}


.services__layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-bottom: 17px;
    
}

.services__item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    max-height: 97px;
}

.services__item-description {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 71px;
    max-width: 219px;
    word-break: break-word;
    
}

.services__item-content {
    position: relative;
    display: inline-block;
    
    
}

.services__header-item {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #666d89;
    font-weight: 900;
}


.services-item-img {
    padding-right: 21px;
    padding-top: 6px;
}

.portfolio {
    background-color: #2d303a;
    padding-top: 71px;
    padding-bottom: 48px;
    border-bottom: 6px solid #767e9e;
}

.portfolio-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 31px;
    margin-top: -2px;
}

.portfolio-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 16px;
    margin-bottom: 19px;
}

.filter-tags {
    display: flex;
}

.filter-tags__tag {
    outline: 0;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 10px;
    background-color: transparent;
    color:#767e9e;
    font-size: 12px;
    padding: 1px 6px;
    cursor: pointer;
    line-height: 18px;
    transition: 0.5s ease-out;
}

.filter-tags__tag:hover {
    color: #fff;
    border-color: #fff;
    transition: 0.5s ease-out;
}

.active {
    color: #fff;
    border-color: #fff;
}

.tag:last-child {
    margin-right: 0;
}

.portfolio-list-wrapper {
    margin-top: 19px;
    max-height: 621px;
    overflow: hidden;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 69px;
    padding-bottom: 67px;

}


.about-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 26px;
}

.about-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: justify;
}

.about__person-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.about__person-list-item {
    width: 300px;
}

.about__person-list-item:first-child .social-block{
    margin-left: 1px;
}

.person-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.about__person-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 15px;
    letter-spacing: -0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 18px;

}

.about__person-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 23px;
    text-align: justify;

}

.social-block {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
}
.social-block a {
    height: 32px;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.social-block a:hover {
    background-color: #fff;
    transition: 0.5s ease-out;
}

.social-image {
    height: 32px;
    width: 32px;
}

.quote {
    background-color: #f06c64;
    padding-top: 57.5px;
    padding-bottom: 25px;
    border-bottom: 6px solid #ea676b;
}

.quote__quote-title {
    font-size: 30px;
    color: #f0d8d9;
    margin-bottom: 19px;
    font-weight: 900;
}

.quote__quote-description {
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
}

.quote__quote-content {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.quote__quote-form {
    width: 605px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-el {
    padding-left: 14px;
    width: 100%;
    height: 38px;
    background-color: #d6564f;
    outline: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    transition: .5s ease-out;
}

.text-field {
    padding-top: 0.5px;
}

.name-field:valid:focus, .email-field:valid:focus {
    background-color: #fff;
    border-color: 1px solid #000;
}

.name-field:invalid:focus, .email-field:invalid:focus {
    background-color: #000;
    color: #fff;
}

.form-el:hover {
    background-color: #b73d36;
    transition: .5s ease-out;
}

.form-el::placeholder {
    color: #f48c8f;
}

.form-el.textarea-block {
    height: 194px;
    resize: none;
    padding-top: 7px;
}

.submit-btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #f0d8d9;
    width: 80px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #d6564f;
    margin: 0 auto;
    font-weight: 400;
    transition: .5s ease-out;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #b73d36;
    transition: .5s ease-out;
}




.quote__contact-information {
    display: flex;
    flex-direction: column;
    width: 301px;
    position: relative;
}

.contact-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin-bottom: 10px;
}

.contact-description {
    font-size: 12px;
    line-height: 22.5px;
    font-weight: 400;
    color: #f0d8d9;
    margin-bottom: 25px;
    text-align: justify;
}

.contact-el {
    margin-bottom: 7px;
    color: #f0d8d9;
    font-size: 12px;
    font-weight: 400;
    padding-left: 24px;
}

.contact-el::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    left: 0;
}

.contact-el.location::before {
    background-image: url('assets/img/icon-location.svg');
    background-size: 7px;
    background-position: 4px 2.3px;
}

.contact-el.tel::before {
    background-image: url('assets/img/icon-phone.svg');
    background-size: 11px;
    background-position: 2px 2px;
}

.contact-el.email {
    margin: 0;
}

.contact-el.email::before {
    background-image: url('assets/img/icon-mail.svg');
    background-size: 14px;
    background-position: 0px 5px;
    margin-top: -2px;
}


.footer {
    height: 76px;
    background-color: #2d303a;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #666d89;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 1px;
}

.social-list-block {
    display: flex;
    justify-content: space-between;
    height: 32px;
    width: 152px;
}

.social-link {
    border: 1px solid #616883;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.social-link:hover {
    border-color: #fff;
    background-color: #fff;
}